.block-a-img-web_design {
    max-width: 100%;
    max-height: 100%;
}

/* first block - "our service" */



.section-title {
    box-sizing: border-box;
    padding: 82px 0 0 0;
}



.section-title-style {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    
}

.line_style_block {
    position: relative;
}

.line_style_first {
    position: relative;
    right: 3px;
    margin: 37px auto 3px;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.line_style_second {
    position: relative;
    left: 3px;
    margin: 0 auto 70px;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.menu-a {
    display: flex;
    justify-content: center;
}

.menu-a-section {
    display: flex;
    justify-content: center;
    position: relative;
}

.menu-a-element {
    display: flex;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f8fcfe;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    color: #717171;
}

.menu-a-element::after {
    content: "";
    position: absolute;
    display: none;
    margin-top: 52px;
    border: 16px solid transparent;	
    border-top: 16px solid #18cfab;
}

.menu-a-element:hover {
    background-color: #18cfab;
    color: #ffffff;
}

.menu-a-element:hover::after {
    display: block;
}

.menu-a-element:first-child {
    border-left: 1px solid #ececec;
}

.menu-a-element-href {
    box-sizing: border-box;
    width: 192px;
    height: 73px;
    text-decoration: none;
    font-family: Montserrat;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 30px 0;
}


.block-a-description {
    display: flex;
    margin: 24px 0 0 0;
}

.block-a-description-img {
    width: 194px;
    height: 139px;
    background-image: url(../img/our_services-photo-1.jpg);
}

.block-a-description-text {
    width: 950px;
    margin: 0 0 0 20px;
    font-family: Montserrat;
    color: #777777;
    font-size: 13.64px;
    font-weight: 300;
    line-height: 25px;
}

.block-a-section {
    width: 100%;
    height: 474px;
    margin: 100px 0 0 0;
    background-image: url(../img/section-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 120, 201, 0.7);
}

.block-a-section-opacity {
    box-sizing: border-box;
    padding: 126px 0 0 0;
    width: 100%;
    height: 474px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.block-a-section-description-first_string {
    font-family: Montserrat;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.block-a-section-description-second_string {
    margin: 35px 0 76px 0;
    font-family: Montserrat;
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/* second block - "our amazing work" */

.pictures {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0px;
}

.pictures-item {
    overflow: hidden;
    height: 206px;
    width: 284px;
    box-sizing: border-box;
    transition: 700ms padding-top cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.pictures-item>img {
    width: 100%;
    height: 100%
}

.pictures-item:hover {
    padding-top: 206px;
}

.block-b-hover-window {
    margin-top: -206px;
    padding-top: 43px;
    height: 206px;
    width: 284px;
    background-color: #f8fcfe;
    text-align: center;
    box-sizing: border-box;
    border-top: 2px solid #00cc99;
}

.block-b-hover-window-img {
    margin: 3px;
}

.block-b-hover-window-topline {
    margin-top: 35px;
    font-size: 14px;
    text-transform: uppercase;
}

.block-b-hover-window-botline {
    margin-top: 15px;
    font-size: 12px;
    color: #999999;
    text-transform: capitalize;
}



.switch-items {
    display: inline-block;
    padding: 22px 25px;
    border: 1px solid #ececec;
    ;
    border-right: none;
    font-size: 14px;
    color: #717171;
}

.switch-items:hover {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}

.switch-items:last-child {
    border-right: 1px solid #ececec;
}

.switch-menu {
    text-align: center;
    height: 58px;
    margin: 70px 0px 0;
    font-size: 0px;
}

.block-b {
    padding: 100px 0;
    background-color: #f8fcfe;
    border-bottom: 1px solid #e2e2e2;
}

.addmore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 72px auto 0;
    text-align: center;
    position: relative;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
}

.load_more {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px; 
}

.decor-plus {
    margin: 5px;
    font-size: 27px;
}



.loading-animation {
    display: none;
    margin: 72px auto 0;
    width: 165px;
    height: 60px;
    position: relative;
    border-radius: 3px;
    background-color: #18cfab;
}

.blob-1,
.blob-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, 100%);
}

.blob-1 {
    animation: osc-l 1s cubic-bezier(0.88, -0.22, 1, 1.71) infinite;
    background: #fff;
}

.blob-2 {
    animation: osc-r 1s cubic-bezier(0.88, -0.22, 1, 1.71) infinite;
    background: #1c2a33;
}

/* third block - "breaking news" */



.block-c-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-c-main-content_card {
    display: inline-block;
    width: 263px;
    margin: 0 0 45px 0;
}

.content_card-img_1 {
    background-image: url(../img/breaking_news_img-1.png);
}

.content_card-img_2 {
    background-image: url(../img/breaking_news_img-2.png);
}

.content_card-img_3 {
    background-image: url(../img/breaking_news_img-3.png);
}

.content_card-img_4 {
    background-image: url(../img/breaking_news_img-4.png);
}

.content_card-img_5 {
    background-image: url(../img/breaking_news_img-5.png);
}

.content_card-img_6 {
    background-image: url(../img/breaking_news_img-6.png);
}

.content_card-img_7 {
    background-image: url(../img/breaking_news_img-7.png);
}

.content_card-img_8 {
    background-image: url(../img/breaking_news_img-8.png);
}

.block-c-main-content_card-img {
    position: relative;
    width: 263px;
    height: 208px;
}

.block-c-main-content_card-date_href {
    display: inline-block;
    position: absolute;
    right: 0;
    background-color: #203e38;
    padding: 14px 15px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16.00px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.block-c-main-content_card-date_href:hover {
    background-color: #18cfab;
}

.block-c-main-content_card-description {
    border: 1px solid #f0f1f2;
}

.block-c-main-content_card-description-title {
    display: inline-block;
    margin: 14px 0 0 20px;
    font-family: Montserrat;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.block-c-main-content_card-description-title:hover {
    color: #18cfab;
}

.block-c-main-content_card-description-sign {
    display: inline-block;
    margin: 14px 0 12px 20px;
}

.block-c-main-content_card-description-author_href {
    display: inline-block;
    padding: 0 15px 0 0;
    border-right: 1px solid #777777;
    font-family: Montserrat;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.block-c-main-content_card-description-comment_href {
    display: inline-block;
    padding: 0 0 0 15px;
    text-decoration: none;
    font-family: Montserrat;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

/* fourth block - "what people say about ham" */

.block-d {
    height: 852px;
    margin: 130px 0 0 0;
    background-image: url(../img/section-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.block-d-title-style {
    color: #ffffff;
}

.block-d-quotes {
    width: 44px;
    height: 30px;
    margin: 0 auto;
    background-image: url(../img/what_people_say_about_theHam-quotes.png);
}

.block-d-description {
    margin: 43px 0 0 0;
    font-family: Montserrat;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.block-d-photo_slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.block-d-person {
    margin-bottom: 27px;
    text-align: center;
    font-size: 16px;
    color: #18cfab;
}

.block-d-person_profession {
    margin-top: 15px;
    font-size: 13px;
    color: #bbbbbb;
}

.block-d-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.block-d-photo-img {
    margin-top: 30px;
    height: 250px;
    padding: 37 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block-d-photo-img-photo {
    width: 143px;
    
    box-sizing: border-box;
    
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 9px rgba(31, 218, 181, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-d-photo_bar_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block-d-nav_arrow {
    padding: 8px 13px;
    margin: 0 10px 0 10px;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    text-decoration: none;
}

.block-d-nav_arrow:hover {
    z-index: 2;
    
}

.block-d-photo_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 37px;
    max-width: 470px;
}

.block-d-photo_bar-wrapp {
    margin-top: 10px;
}

.block-d-photo_bar-img {
    width: 61px;
    height: 61px;
    margin: 0 19px 0 19px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ----------------------------------------------------------- */

/* fifth block - "gallery of the best images" */

.block-e {
    padding: 100px 0 82px;
    background-color: #f8fcfe;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.grid-item {
    
    position: relative;
    margin-bottom: 2px;
}

.grid-item.size-l {
    width: 375px;
}

.grid-item.size-m {
    width: 184px;
}

.grid-item.size-s {
    width: 120px;
    height: 90px;
}

.grid-item.size-l>* {
    width: 100%;
    height: 100%;
}

.grid-item.size-m>* {
    width: 100%;
    height: 100%;
}

.grid-item.size-s>* {
    width: 100%;
    height: 100%;
}

.block-e-hover-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    transition: 600ms opacity cubic-bezier(0.18, 0.89, 0.32, 1.28);
    visibility: hidden;
    opacity: 0;
}

.block-e-hover-window-button {
    margin: 3px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #14b9d5;
    border-radius: 3px;
}

.grid-item:hover>.block-e-hover-window {
    visibility: visible;
}

.block-e-hover-window:hover {
    opacity: 1;
}

.footer {
    background-color: #1d323d;
}

.footer-text {
    color: #aeaeae;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.plus {

    color: white;
}