
@import url("header.css");
@import url("main.css");
._container {
    width: 1160px;
    margin: 0 auto;
}

._txt-d-n {
    text-decoration: none;
}

._font-bold {
    font-weight: 700;
}

._font-green {
    color: #00cc99;
}

._font-family_Mtsrt {
    font-family: 'Montserrat', sans-serif;
}

._btn-green {
    background-color: #18cfab;
}

._btn-blue {
    background-color: #00cbf6;
}


._hiden {
    display: none;
}

._uppercase {
    text-transform: uppercase;
}

._transform {
    transform: translateY(-5px);
}